# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:https://www.kaggle.com/datasets/kabhishm/top-american-colleges-2022

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [1]:
# import libraries

import numpy as np

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv("top_colleges_2022.csv")

#df = pd.read_csv("../top_colleges_2022.csv")
#use above if this .csv goes in to main folder for final project

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [5]:
#checking if the dataframe was properly imported and to get more understanding of the data
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   description              498 non-null    object
 1   rank                     498 non-null    int64
 2   organizationName         498 non-null    object
 3   state                    498 non-null    object
 4   studentPopulation        498 non-null    int64
 5   campusSetting            498 non-null    object
 6   medianBaseSalary         491 non-null    float64
 7   longitude                458 non-null    float64
 8   latitude                 458 non-null    float64
 9   website                  477 non-null    object
 10  phoneNumber              428 non-null    object
 11  city                     498 non-null    object
 12  country                  498 non-null    object
 13  state.1                  498 non-null    object
 14  region                   489 non-null    object
 15  yearFounded              451 non-null    float64
 16  stateCode                489 non-null    object
 17  collegeType              498 non-null    object
 18  carnegieClassification   498 non-null    object
 19  studentFacultyRatio      498 non-null    int64
 20  totalStudentPop          498 non-null    int64
 21  undergradPop             498 non-null    int64
 22  totalGrantAid            495 non-null    float64
 23  percentOfStudentsFinAid  495 non-null    float64
 24  percentOfStudentsGrant   495 non-null    float64
dtypes: float64(7), int64(5), object(13)
memory usage: 97.4+ KB

,description,rank,organizationName,state,studentPopulation,campusSetting,medianBaseSalary,longitude,latitude,website,...,yearFounded,stateCode,collegeType,carnegieClassification,studentFacultyRatio,totalStudentPop,undergradPop,totalGrantAid,percentOfStudentsFinAid,percentOfStudentsGrant
0,"A leading global research university, MIT attr...",1,Massachusetts Institute of Technology,MA,12195,Urban,173700.0,-71.093539,42.359006,http://web.mit.edu,...,1861.0,MA,Private not-for-profit,Doctoral Universities: Very High Research Acti...,3,12195,4582,35299332.0,75.0,60.0
1,Stanford University sits just outside of Palo ...,2,Stanford University,CA,20961,Suburban,173500.0,-122.168924,37.431370,http://www.stanford.edu,...,1891.0,CA,Private not-for-profit,Doctoral Universities: Very High Research Acti...,4,20961,8464,51328461.0,70.0,55.0
2,One of the top public universities in the coun...,2,"University of California, Berkeley",CA,45878,Urban,154500.0,-122.258393,37.869236,http://www.berkeley.edu,...,1868.0,CA,Public,Doctoral Universities: Very High Research Acti...,19,45878,33208,64495611.0,63.0,53.0
3,Princeton is a leading private research univer...,4,Princeton University,NJ,8532,Urban,167600.0,-74.659119,40.349855,http://www.princeton.edu,...,1746.0,NJ,Private not-for-profit,Doctoral Universities: Very High Research Acti...,4,8532,5516,44871096.0,62.0,61.0
4,"Located in upper Manhattan, Columbia Universit...",5,Columbia University,NY,33882,Urban,148800.0,-73.961288,40.806515,http://www.columbia.edu,...,1754.0,NY,Private not-for-profit,Doctoral Universities: Very High Research Acti...,6,33882,8689,44615007.0,58.0,54.0

In [12]:
# Gives summary statistics for available data
df.describe()

,rank,studentPopulation,medianBaseSalary,longitude,latitude,yearFounded,studentFacultyRatio,totalStudentPop,undergradPop,totalGrantAid,percentOfStudentsFinAid,percentOfStudentsGrant
count,498.000000,498.000000,491.000000,458.000000,458.000000,451.000000,498.000000,498.000000,498.000000,4.950000e+02,495.000000,495.000000
mean,249.485944,16073.983936,116382.077393,-88.871596,39.082492,1879.944568,14.120482,16073.983936,12075.550201,2.491186e+07,86.202020,80.939394
std,143.899350,16284.865007,17161.769465,18.490733,4.481500,50.805940,5.203074,16284.865007,12628.161452,1.936898e+07,14.473891,18.382584
min,1.000000,421.000000,77300.000000,-157.820047,21.299373,1636.000000,3.000000,421.000000,421.000000,2.307030e+05,40.000000,31.000000
25%,125.250000,3112.500000,104300.000000,-96.924510,36.105500,1851.000000,10.000000,3112.500000,2613.750000,1.219794e+07,78.000000,67.000000
50%,249.500000,9850.000000,112800.000000,-84.251869,40.195954,1878.000000,13.500000,9850.000000,6844.500000,1.904380e+07,92.000000,88.000000
75%,373.750000,24363.000000,125000.000000,-75.471093,42.210113,1908.500000,17.000000,24363.000000,18655.250000,3.218453e+07,98.000000,97.000000
max,498.000000,102826.000000,173700.000000,85.501600,48.752350,2013.000000,49.000000,102826.000000,84202.000000,1.575583e+08,100.000000,100.000000

In [11]:
#Exploring column names
print("columns:\n",df.columns)

print("\n--------------------------------\n")
#Exploring data shape
print("data shape:\n",df.shape)

columns:
 Index(['description', 'rank', 'organizationName', 'state', 'studentPopulation',
       'campusSetting', 'medianBaseSalary', 'longitude', 'latitude', 'website',
       'phoneNumber', 'city', 'country', 'state.1', 'region', 'yearFounded',
       'stateCode', 'collegeType', 'carnegieClassification',
       'studentFacultyRatio', 'totalStudentPop', 'undergradPop',
       'totalGrantAid', 'percentOfStudentsFinAid', 'percentOfStudentsGrant'],
      dtype='object')

--------------------------------

data shape:
 (498, 25)

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
2. Do you have any concerns about your dataset? 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data?